 .App {
  text-align: center;
  /* width: 500px; */
  height: 100%; 
  /* margin-left: 400px; */
  z-index: 2000;
  width: 100%;
  position: fixed;
  display: inline-block;
  /* cursor: not-allowed; */
  /* margin-left: 500px; */

}
.buttonlink{
  margin: 50px 0 50px 40%;
  text-align: center;
  /* padding-left: 20px; */
  height: 50px;
  width: 200px;
  background: rgb(221, 218, 218);
  font-size: large;
  cursor: pointer;
  transition-duration: 0.4s;
}

.buttonlink:hover{
  background-color: rgb(75, 227, 98);
  color: black;
}
.buttonlinktransaction{

  /* margin-left: 75vh;
  margin-top: 5px; */
  text-align: center;
  margin-left: 40%;
  height: 50px;
  width: 200px;
  /* width: 100%; */
  background: rgb(187, 186, 183);

  font-size: large;
  cursor: auto;
  transition-duration: 0.4s;

  /* cursor: pointer; */
  /* cursor: not-allowed */

}

.buttonlinktransaction:hover{
  background-color: rgb(23, 216, 100);
  color: black;
}
a{
  cursor: pointer;
    /* background: rgb(110, 206, 168); */

}
b{
  cursor: not-allowed;
  /* background: red; */
}
.bounder{
  background: rgb(0 0 0 / 20%);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(59, 152, 246, 0.43);
  margin: 20px 20px ;
  height: 1000px;

}

.bounder-all{
  background: rgb(0 0 0 / 20%);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(59, 152, 246, 0.43);
  /* margin: 20px 20px ; */
  height: 100vh;

}

.glassmorphism{
  background: rgba(40, 227, 93, 0.2);
  /* background: rgba(205, 221, 185, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(203, 190, 74, 0.43);
  padding-left: 50px;
}

.headerglassmorphism{
  background: rgba(118, 199, 142, 0.647);
  /* background: rgba(205, 221, 185, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 138, 251, 0.43);
  /* margin-right: 20px;
  margin-left: 20px; */
}

.TableRowCSS{
  color: blue;
  /* background-color: blue; */
  font-size: x-large;
}
.transactions{
  /* position: fixed; */
  /* display: sticky; */
}
.alertsuccess{
    width: 250px;
    margin-left: 160vh;
    position: absolute;
    /* border-radius: 16px;
    border: 1px solid rgba(0, 138, 251, 0.43); */

}

.step1{
  font-size: large;
  /* margin-top: 25px; */
  margin-left: 25px;
  /* transform: translateY(3ch); */
  color: black;
}
.step1bounder{
  margin-top: 25px;
}

.step2bounder{
  /* margin-top: 25px; */
  margin-bottom: 25px;
}
.header-transaction{
  text-align: center;
}
